<!-- QUẢN LÝ TIN TỨC -->
<div class="container-fluid">
  <div class="header-actions">
    <h1 class="h3 mb-2 text-gray-800">Quản lý tin tức</h1>

    <button class="btn btn-primary bg-gradient-primary"
            >
      <i class="fas fa-plus"></i> Thêm
    </button>
  </div>

  <!-- BẢNG DANH SÁCH -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Danh sách tin tức</h6>
    </div>

    <div class="card-body table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width:60px">ID</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th style="width:110px">Hành&nbsp;động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{ post.id }}</td>
            <td>
              <a [routerLink]="['/detail-news', post.id]">{{ post.name }}</a>
            </td>
            <td>{{ post.shortDescription }}</td>
            <td class="text-center">
              <button class="btn btn-sm edit-btn">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="btn btn-sm delete-btn"
                      (click)="deleteNews(post.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

