<footer class="app-footer">
  <div class="container">
    <div class="footer-left">
      <div class="footer-item">
        <div class="language-scroll">
          <!-- <span class="flag-icon">
            <img src="path/to/your/flag-icon.png" alt="Language">
            </span> -->
          <span class="scroll-to-top" (click)="scrollToTop()">
             <img src="path/to/your/arrow-up-icon.png" alt="Scroll to top">
            </span>
        </div>
      </div>
       <div class="footer-item contact-info">
          <p>&copy; Bản quyền © ATD Team 2025</p>
          <p>Liên hệ: <a href="#">ATD Team</a></p>
          <p>Công Ty: TNHH Đầu Tư Công Nghệ Techbyte - Mã số thuế: 0110801570</p>
      </div>
    </div>

    <div class="footer-right">
      <div class="footer-item design-info">
        <p>Thiết kế bởi: <a routerLink="/about-us" class="btn-about-us">ATD Team</a></p> 
        <p>Lập trình bởi: <a routerLink="/about-us" class="btn-about-us">ATD Team</a></p>
      </div>
    </div>

     <!-- <div class="chat-icon">
        <img src="path/to/your/chat-icon.png" alt="Chat">
      </div> -->

  </div>
</footer>