<div class="mb-3">
    <label for="text" class="form-label">Tên</label>
    <input type="text" class="form-control" placeholder="Nhập tên" name="name"
    [(ngModel)]="name">
</div>
<div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input type="text" class="form-control" placeholder="Nhập email" name="email" 
    [(ngModel)]="email">
</div>
<div class="mb-3">
    <label for="text" class="form-label">Mật khẩu</label>
    <input type="text" class="form-control" placeholder="Nhập mật khẩu" name="password" 
    [(ngModel)]="password">
</div>
<button type="submit" class="btn btn-primary w-100" (click)="createUser()">Tạo</button>