<div class="mb-3">
    <label for="text" class="form-label">name</label>
    <input type="text" class="form-control" placeholder="Nhập tên" name="name"
    [(ngModel)]="name">
</div>
<div class="mb-3">
    <label for="text" class="form-label">name</label>
    <input type="text" class="form-control" placeholder="Nhập mô tả" name="short_description"
    [(ngModel)]="shortDescription">
</div>
<div class="mb-3">
    <label for="text" class="form-label">name</label>
    <input type="text" class="form-control" placeholder="Nhập nội dung" name="content"
    [(ngModel)]="content">
</div>

<button type="submit" class="btn btn-primary w-100" (click)="createNews()">Tạo</button>