<h2>Thêm tin tức</h2>
<div class="mb-3">
    <label for="text" class="form-label">Tên</label>
    <input type="text" class="form-control" placeholder="Nhập tên" name="name"
    [(ngModel)]="name">
</div>
<div class="mb-3">
    <label for="text" class="form-label">Mô tả</label>
    <input type="text" class="form-control" placeholder="Nhập mô tả" name="shortDescription"
    [(ngModel)]="shortDescription">
</div>
<div class="mb-3">
    <label for="text" class="form-label">Nội dung</label>
    <!-- <input > -->
    <textarea type="text" class="form-control" placeholder="Nhập nội dung" name="content"
    [(ngModel)]="content"></textarea>
</div>
<div class="mb-3">
    <label for="text" class="form-label">Tệp đính kèm</label>
    <input id="files" type="file" multiple accept="image/*">
</div>

<button type="submit" class="btn btn-primary w-100" (click)="createNews()">Tạo</button>