.navbar {
    background-color: #27ae60;
    height: 80px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 18px;
  }
  