<nav class="header-nav" [class.hidden]="isHeaderHidden">
  <div class="container">
    <a class="brand" href="">CheckScam</a>

    <button class="menu-toggle" (click)="toggleMenu()">
      <span class="hamburger-icon" [class.open]="isMenuOpen"></span>
      <span class="hamburger-icon" [class.open]="isMenuOpen"></span>
      <span class="hamburger-icon" [class.open]="isMenuOpen"></span>
    </button>

    <ul class="nav-links" [class.menu-open]="isMenuOpen">
      <li><a (click)="onAiTuVanClick()">AI Tư vấn</a></li>
      <li><a routerLink="/list-news">Tin tức</a></li>
      <li><a routerLink="/create-report">Báo cáo</a></li>
    </ul>
  </div>
</nav>
