
<div class="about-us-page">
  <div class="container">
    <button class="back-button" (click)="goBack()">← Quay lại</button>
    <h1>Về Chúng Tôi</h1>
    <p class="author">Viết bởi Phạm Trường An</p>
    <p class="date">05/13/2025, 9:12:29 AM</p>
    <div class="social-share">
      </div>
    <section>
    
      <p><strong>CheckScam (CS)</strong> là một dự án phi lợi nhuận của Việt Nam, chính thức hoạt động từ ngày 15 tháng 05 năm 2025, với mục tiêu hỗ trợ người dùng kiểm tra độ tin cậy của các trang web và ngăn chặn truy cập vào các trang web không an toàn, bảo vệ người dùng trên môi trường trực tuyến.</p>
    </section>

    <section>
      <strong>Sứ mệnh và hoạt động</strong>
      <p>Dự án cung cấp các thông tin cảnh báo lừa đảo và giải pháp bảo mật, giúp người dùng nhận diện và tránh các trang web lừa đảo, độc hại trên các nền tảng như Facebook, YouTube, TikTok và nhiều nền tảng khác. CS sử dụng công nghệ trí tuệ nhân tạo (AI) và học máy (Machine Learning - ML), kết hợp với sự đóng góp từ cộng đồng, để xây dựng một không gian mạng an toàn hơn.</p>
    </section>

    <section>
      <strong>Kêu gọi cộng đồng</strong>
      <p>Chống Lừa Đảo rất mong nhận được sự đóng góp từ cộng đồng nhằm hoàn thiện sản phẩm và nâng cao khả năng bảo vệ người dùng trước các mối đe dọa trực tuyến. Bạn có thể tham gia bằng cách cài đặt tiện ích mở rộng cho trình duyệt hoặc ứng dụng di động để được luôn được bảo vệ trong quá trình tìm kiếm, mua sắm và lướt web. Thiên lý sự kiên trì và canh báo những trang web không đáng tin cậy, hỗ trợ đắc lực cùng với các chương trình diệt virus.</p>
    </section>

    <section>
      <strong>Kết nối với chúng tôi qua:</strong>
      <ul>
        <p>Công Ty: TNHH Đầu Tư Công Nghệ Techbyte</p>
        <p>Địa chỉ trụ sở: Số nhà 10, dãy H, Khu tập thể Công an Đa Sỹ, Phường Kiến Hưng, Quận Hà Đông, Thành phố Hà Nội</p>
        <p></p>
      </ul>
    </section>
    <p>Hãy cùng chung tay xây dựng một cộng đồng mạng an toàn và đáng tin cậy!</p>
  </div>
</div>