  .container {
      height: 100vh;
      background-color: #f8f9fa;
    }
    
    .card {
      border-radius: 10px;
    }
    .custom-card-style {
      width: 450px;
      background-color: #f8f9fa;
    }
    
    .forgot-password-link {
      color: #6c757d;
    }
    
    .forgot-password-link:hover {
      color: #34495e;
    }