<app-header></app-header>
<div class="news-page-container">
  <div class="page-content-area">
    <div class="container">
      <h2 class="page-title">Trang tin tức</h2>

      <div class="search-and-pagination">
        <div class="search-bar">
          <input type="text" placeholder="Tìm kiếm tin tức...">
          <button>Tìm kiếm</button>
        </div>

        <!-- <div class="pagination-controls">
          <button>&lt;</button>
          <span>1</span>
          <button>&gt;</button>
        </div> -->
      </div>

      <div class="news-grid">
        <div class="news-card" *ngFor="let post of posts">
          <div class="card-image" routerLink="/detail-news/{{post.id}}">
            <img src="path/to/default/news-image.jpg" alt="Ảnh tin tức">
          </div>
          <div class="card-content">
            <h3 class="card-title">
              <a routerLink="/detail-news/{{post.id}}">{{ post.name }}</a>
            </h3>
            <p class="card-description">{{ post.shortDescription }}</p>
            <div class="card-footer">
              <!-- <span class="post-date">Ngày đăng: {{ post.date | date:'shortDate' }}</span> -->
              </div>
          </div>
        </div>
        </div>

      </div>
  </div>
</div>
<app-footer></app-footer>