<app-header></app-header>
<div class="chat-wrapper">
  <div class="chat-container">
    <div class="chat-display">
      <div *ngFor="let message of messages" class="message-wrapper">
        <div class="message-content">
          <div class="message-text">{{ message.text }}</div>
        </div>
      </div>
    </div>

    <div class="chat-input-wrapper">
      <div class="chat-input">
        <select [(ngModel)]="selectedType" class="input-type-select">
          <option [ngValue]="1">Số điện thoại</option>
          <option [ngValue]="2">Số tài khoản</option>
          <option [ngValue]="3">URL</option>
        </select>
        <input class="form-control form-control-lg" type="text" placeholder="Nhập thông tin cần kiểm tra"
          [(ngModel)]="info" (keydown.enter)="sendMessage()">
        <button class="btn btn-primary btn-lg" id="submitButton" type="submit" (click)="sendMessage()"
          [disabled]="!info.trim()">Gửi</button>
      </div>
    </div>
  </div>
</div>
