.chat-wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  // height: 100vh; 
  max-width: 1200px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 30px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-left: 20px;
  margin-right: 20px;
}

.chat-display {
  max-height: 300px;
  overflow-y: auto;
}

.chat-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.input-type-select, .form-control, .btn {
  height: 40px;
}

.input-type-select {
  width: 150px;
}

.form-control {
  flex-grow: 1;
}

.btn {
  width: auto;
}
